# Zone Identifier files
*Zone.Identifier

# Virtual environment
venv/
.venv/
env/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/
pyvenv.cfg

# Database
*.db